<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name ="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
	</configSections>

	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

		<alias alias="TestInt32" type="ClassForUnity.TestInt32, ClassForUnity" />
		<alias alias="TestString" type="ClassForUnity.TestString, ClassForUnity" />
		<alias alias="ITestInt32" type="InterfaceForUnity.ITest`1[System.Int32], InterfaceForUnity" />
		<alias alias="ITestString" type="InterfaceForUnity.ITest`1[System.String], InterfaceForUnity" />


		<container>
			<register type="ITestInt32" mapTo="TestInt32"/>
			<register type="ITestString" mapTo="TestString"/>
		</container>
	</unity>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="PlugIn"/>
		</assemblyBinding>
	</runtime>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
</configuration>
